<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="GerenciamentoEventosPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>GerenciadorEventosMySQL</jta-data-source>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Alocacao</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Arquivo</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Atividade</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.AtividadeTipo</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Configuracao</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Controle</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Evento</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Inscricao</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.InscricaoItem</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Lancamento</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.LancamentoCategoria</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Log</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Perfil</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Permissao</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Pessoa</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Questao</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.QuestaoResposta</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Questionario</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.QuestionarioResposta</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.QuestionarioSecao</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.Recurso</class>
    <class>br.edu.ifnmg.DomainModel.Arquivo</class>
    <class>br.edu.ifnmg.DomainModel.Configuracao</class>
    <class>br.edu.ifnmg.DomainModel.Log</class>
    <class>br.edu.ifnmg.DomainModel.Perfil</class>
    <class>br.edu.ifnmg.DomainModel.Permissao</class>
    <class>br.edu.ifnmg.DomainModel.Pessoa</class>
    <class>br.edu.ifnmg.DomainModel.Mensagem</class>
    <class>br.edu.ifnmg.DomainModel.MensagemPerfil</class>
    <class>br.edu.ifnmg.GerenciamentoEventos.DomainModel.EventoInscricaoCategoria</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <shared-cache-mode>DISABLE_SELECTIVE</shared-cache-mode>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create-or-extend-tables"/>
    </properties>
  </persistence-unit>
</persistence>
