/build/
/dist/
/Projetos/GerenciamentoEventosDomainModel/nbproject/private/
/Projetos/GerenciamentoEventosDomainModel/build/
/Projetos/GerenciamentoEventosDomainModel/dist/
/Projetos/GerenciadorMensagens/nbproject/private/
/Projetos/br.edu.ifnmg.Core/nbproject/private/
/Projetos/br.edu.ifnmg.Core/build/
/Projetos/br.edu.ifnmg.Core/dist/
/Projetos/GerenciadorMensagens/build/
/Projetos/GerenciadorMensagens/dist/
/Projetos/GerenciadorEventosWeb/build/
/Projetos/TCAGE/nbproject/private/
/Projetos/TCAGE/build/
/Projetos/TCAGE/dist/
/Projetos/MeuPrimeiroJSP/nbproject/private/
/Projetos/MeuPrimeiroJSP/build/
/Projetos/MeuPrimeiroJPA/nbproject/private/
/Projetos/MeuPrimeiroJPA/build/
/Projetos/ExemploJPA/nbproject/private/
/Projetos/ExemploJPA/build/