/build/
/dist/
/Projetos/GerenciamentoEventosDomainModel/nbproject/private/
/Projetos/GerenciamentoEventosDomainModel/build/
/Projetos/GerenciamentoEventosDomainModel/dist/
/Projetos/GerenciadorMensagens/nbproject/private/
/Projetos/br.edu.ifnmg.Core/nbproject/private/
/Projetos/br.edu.ifnmg.Core/build/
/Projetos/br.edu.ifnmg.Core/dist/
/Projetos/GerenciadorMensagens/build/
/Projetos/GerenciadorMensagens/dist/